{
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": [
        "**/.vscode/*.json",
        "**/.vscode/*.code-workspace",
        "**/tsconfig.json",
        "**/tsconfig.*.json"
      ],
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
